* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
}

h1, a {
    text-decoration: none;
    font-family: 'Poppins' , sans-serif;
    color: rgb(24, 24, 24);
}

.navigation {
    background-color: #D8D5D5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}


.links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.links li {
    list-style: none;
}
.nav-links a{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(24, 24, 24);;
    margin: 13px;
}

@media screen and (max-width: 1000px) {
    .links {
        width: 60%;
    }
  }


@media screen and (max-width: 700px) {
    body {
        overflow: hidden;
    }
    .logo {
        opacity: 1;
    }

    .links{
      position: absolute;
      right:0px;
      height: 92vh;
      top: 0vh;
      background-color: #D8D5D5;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateY(-100%);
      transition: transform 0.5s ease-in;
  }
  .burger {
      display: block;
  }

  .burger div {
     transition: transform 0.5s ease;
  }
}



.nav-active{
    transform: translateY(8vh);
     
}

.line1-active {
    transform: rotate(-45deg) translate(-5px,6px);
}

.line2-active {
    transform: rotate(45deg) translate(-5px,-6px);
}

.logo-active {
    opacity:0;
    transition: opacity .5s ease;
}